<div class="row" ng-controller="HomeCtrl">
  <div class="col-md-12">
    <div class="row">
      <section class="content-section-sm">
      <div class="col-md-2 left-pane" id="left-pane">
        <p>{{users}}</p>
        <h4>Rooms</h4>
        <ul ng-repeat="r in rooms" class="list-unstyled">
          <li>{{r.name}} .. {{r.count}}</li>
        </ul>
        <h4>Users</h4>
        <ul>
        </ul>
      </div>
      <div class="col-md-9 message-box" id="messages" scroll-bottom="messages">
        <div ng-repeat="m in messages" class="message">
          <!-- TODO: Refactor to use directive-->
          <p>{{m.user.username || m[1]}}: {{m.content || m[0].content}}<p>
        </div>
      </div>
    </section>
    </div>
    <div class="clearfix">
  </div>
</div>
<div class="row">
  <section class="content-section-sm">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
    <form class="form-inline " id="chatform">
      <input class="form-control" id="message" placeholder="..." autocomplete="off" ng-model="message" ng-enter="send(message)">
      <button class= "btn btn-default" ng-click="send(message)">Send</button>
    </form>
  </div>
</div>
</section>
</div>
