<div class="row">
  <div class="col-md-12">
    <section class="content-section-sm">
    <div class="row">
      <form class="form-inline" id="chatform"><input class="form-control" id="message" placeholder="..." autocomplete="off"><button class= "btn">Send</button></form>
  </div>
</section>
    <div class="row">
      <section class="content-section-sm">
      <div class="col-md-2" id="left-pane">
        <p>Rooms</p>
        <p>Users</p>
      </div>
      <div class="col-md-8" id="messages">
      </div>
    </section>
    </div>
  </div>
</div>
